# Python Dependencies for Ansible Collections
# Only declare dependencies here for modules not already listed in the `requirements.txt`
# that resides within the collection repository. For example:
# Azure Collection python dependencies [requirements.txt]
# https://github.com/ansible-collections/azure/blob/v1.12.0/requirements-azure.txt

# Python Dependencies for Ansible Modules/Roles
# <list them here>

# Other Dependencies
# <list them here>

# Windows connectivity requirements - https://docs.ansible.com/ansible/latest/user_guide/windows_winrm.html#what-is-winrm
pywinrm\>=0.3.0
# Infoblox requirements - https://docs.ansible.com/ansible/latest/scenario_guides/guide_infoblox.html#prerequisites
infoblox-client
# Mongo requirements
pymongo
# Ansible `replace` module requirements - https://docs.ansible.com/ansible/latest/collections/ansible/builtin/replace_module.html
selinux
# VMware vSphere requirements - https://github.com/vmware/pyvmomi
pyVmomi
# VMware vCenter dynamic inventory requirements - https://github.com/vmware/vsphere-automation-sdk-python
suds-jurko
git+https://github.com/vmware/vsphere-automation-sdk-python.git