# Configuration pulled from AAP > Content > Repositories > Published > Distributions

[galaxy]
server_list = rh-certified, validated, community

[galaxy_server.rh-certified]
url=https://gateway.example.com/pulp_ansible/galaxy/rh-certified/
token=$ANSIBLE_HUB_TOKEN

[galaxy_server.validated]
url=https://gateway.example.com/pulp_ansible/galaxy/validated/
token=$ANSIBLE_HUB_TOKEN

[galaxy_server.community]
url=https://gateway.example.com/pulp_ansible/galaxy/community/
token=$ANSIBLE_HUB_TOKEN
