# Configuration for Ansible Automation Hub

[galaxy]
server_list = published, validated, community

[galaxy_server.published]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=$ANSIBLE_HUB_TOKEN

[galaxy_server.validated]
url=https://console.redhat.com/api/automation-hub/content/validated/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=$ANSIBLE_HUB_TOKEN

[galaxy_server.community]
url=https://galaxy.ansible.com
