# Python dependencies for Ansible Modules/Roles/Collections

# Reference ansible collections to know what python packages you need
# Only declare python modules that are outside of the `requirements.txt` that
# already exists in the collection repo. That requirements.txt will be automatically
# picked up and installed within the image. For example:
# Azure Collection python dependencies [requirements.txt]
# https://github.com/ansible-collections/azure/blob/v1.12.0/requirements-azure.txt
# NOTE: ansible-builder removes 'ansible' from requirements.txt so we can't put it here
# https://github.com/ansible/ansible-builder/issues/323

# Reporting - ARA plugin: https://ara.recordsansible.org/blog/2021/12/23/recording-ansible-playbooks-from-awx-with-ara/
ara

# (Optional) Windows automation - connectivity requirements https://docs.ansible.com/ansible/latest/user_guide/windows_winrm.html#what-is-winrm
#pywinrm>=0.3.0

# (Optional) Database automation - Mongo requirements
#pymongo
