# Python dependencies for Ansible Modules/Roles/Collections

# (Optional) Reporting - ARA plugin: https://ara.recordsansible.org/blog/2021/12/23/recording-ansible-playbooks-from-awx-with-ara/
#ara

# (Optional) Windows automation - connectivity requirements https://docs.ansible.com/ansible/latest/user_guide/windows_winrm.html#what-is-winrm
#pywinrm>=0.3.0

# (Optional) Database automation - Mongo requirements
#pymongo
